.button 
  margin: 10px
  padding: 10px 20px
  border-radius: 5px
  display: inline-block
  background: lightgray
  cursor: pointer
  font-weight: bold
  color: white
  
.primary
  background: green

.secondary
  background: white
  color: black

.danger
  background: red