@import "../../Global.sass";
  
.button 
  margin: 10px
  padding: 8px 24px
  border-radius: 10px
  display: inline-block
  background: lightgray
  cursor: pointer
  font-weight: bold
  color: white
  
.primary
  background: $main-color

.secondary
  background: white
  color: black

.danger
  background: red