@import "../../Global.sass";

.disease-container
  margin: 0 auto
  padding: 14px
  width: 80%
  border: 1px solid $gray-90
  border-radius: 7px
  
.disease-card 
  margin: 3px 3px 20px 
  text-align: left

.disase-card-icon
  display: inline-block
  margin: 0 0 8px

.disease-card-name
  font-size: 18px
  margin: 0
  padding: 0
  color: $primary
  align-items: baseline

.disease-card-description
  margin: 10px 0
  line-height: 24px
  color: $gray-60
  font-size: 15px

.disease-card-tag-container
  display: flex
  flex-direction: row
  flex-wrap: wrap
  margin-top: 10px

.disease-card-tag-item
  padding: 3px 15px
  margin: 3px 3px 3px 0
  border-radius: 100px
  border: 1px solid $gray-80
  font-weight: bold
  color: $primary
  font-size: 12px
  font-weight: 500
  white-space: nowrap

.disease-card-buttons 
  margin: 0 auto
  display: flex
  justify-content: space-between

.disease-card-button-link
  display: flex
  margin: 20px 0 0
  padding: 3px
  color: $primary
  font-weight: bold
  text-decoration: none
  border-radius: 100px
  font-size: 16px

  &:active
    color: $primary

  &:visited
    color: $primary

.disease-card-button-link-icon
  margin-top: 2px
  vertical-align: baseline