@import "../../Global.sass";
  
.disease-card 
  margin: 0 auto
  width: 70%

.disease-card-image
  border-radius: 50%

.disease-card-name
  font-size: 20px
  margin: 0
  padding: 0
  color: $primary

.disease-card-description
  color: $gray-60

.tag-item
  padding: 5px 20px
  border-radius: 100px
  background: $primary
  font-weight: bold
  color: white