.navbar
  display: flex
  justify-content: space-around
  background: white
  border-top: 1px solid lightgreen

  .navbar-option
    margin: 10px
    padding: 10px
    border-radius: 50%
    display: inline-block
    background: lightgreen
    cursor: pointer

    .navbar-icon
      
