@import "../../Global.sass";

.search-input-input
  margin: 2rem;
  border: 2px solid $primary
  border-radius: 100px
  padding: 10px 20px
  outline: 5px solid #eee
  text-align: center
  color: $primary

::-webkit-input-placeholder // Edge
  color: #aaa

::placeholder
  color: #aaa